/* paleta principal de cores */
:root {
    --cor-laranja: #D6352D;
    --cor-verde: #54BE95;
    --cor-amarelo: #F6A500;
    --cor-amar: #e9b855;
    --cor-marrom: #420808;        
    --cor-preto: #28282B;
    --cor-branco: #F7F7F7;
}


.bannerProdutos2{
    background-image: url(../img/bannerMercearia.gif);
    background-color: var(--cor-amarelo) ;
    background-position: center;
    height: 300px;           
    background-repeat: no-repeat;            
}



.bannerProdutos{
    background-image: url(../img/bannerFeira.gif);
    background-color: #308b68 ;
    background-position: center;
    height: 300px;           
    background-repeat: no-repeat;            
}

/* .tab-content .card{
    background-image: url(../img/selo.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50px;
    z-index: 100;
} */

.selo{
    position: absolute;
    right: 0;   
    height: 80px;
    z-index:100;

}  

.menuFeira li a{
    color: var(--cor-laranja);
    font-weight: bold;
}

.menuMercearia li a{
    color: var(--cor-laranja);
    font-weight: bold;
}


