.banner_topo_converte {
  background-image: url(../img/banner_topo_converte.jpg);
  height: 400px;
  background-position: center;
}

.titulo_corpo {
  text-align: center;
  padding: 30px;
}

.conteudo_converte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  height: 650px;
}

.converte {
  display: flex;  
  background-color: rgb(245, 245, 255);
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.moedas{
  display:flex; 
  align-items: center;
}

.converte label {
  margin: 5px;
}

.converte select,
input {
  border-radius: 5px;
  padding: 5px;
}

#btn1,
#btn2 {
  padding: 6px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: none;
  background-color: white;
}

.resultado_conversao {
  display: flex;
  justify-content: center;
  background-color: rgb(162, 243, 162);
  box-shadow: 1px 1px 1px rgb(180, 167, 167);
  border-radius: 50px;
  height: 35px;
  width: 130px;
}

#valor_final {
  padding: 10px;
}

.tabelas_converte {
  box-shadow: 2px 2px 2px rgb(180, 167, 167);
  background-color: rgb(245, 245, 255);
  width: 40%;
  padding:15px 10px 13px 10px;
}

#cot {
  text-align: center;
}
#cot2 {
  text-align: center;
}

@media (max-width: 900px){
  .banner_topo_converte {   
      background-size: cover;       
  } 
  
  .converte {
    display: flex;
    flex-direction: column; 
    height: 190px; 
    padding: 20px 5px 10px 5px;
  }

  .tabelas_converte {
    width: 50%;  
  }  

}

@media (max-width: 700px){   
  .tabelas_converte {
    width: 60%;  
  }

}

